* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #b3b3b3;
  --primaryBackgroundColor: #e8ecef;
  --primaryBlue: #5e9ed5;
  --secondaryBlue: #4077b6;
  --primaryPurple: #31314b;
  --secondaryPurple: #565778;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--primaryBlue);
}
html::-webkit-scrollbar {
  background: var(--primaryBackgroundColor);
}
body {
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--secondaryTextColor);
}

/* Navigation Bar */
.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.navbar-logo {
  width: 2.5rem;
}
.navbar-menu {
  list-style: none;
  display: flex;
}
.navbar-menu li a {
  color: var(--primaryPurple);
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: 0.4s;
}
.navbar-menu li a:hover {
  background: var(--primaryBackgroundColor);
  color: var(--secondaryPurple);
  transition: 0.2s;
}
/* navbar burger */
.navbar-burger {
  display: none;
  position: fixed;
  top: 30px;
  right: 35px;
}
.navbar-burger div {
  width: 30px;
  height: 4px;
  margin: 3px 0;
  background: var(--primaryPurple);
}
.navbar-burger .line-2 {
  width: 25px;
  translate: 5px;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-left {
  width: 100%;
}
.hero-left h1 {
  color: var(--primaryPurple);
  font-size: 4rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
.hero-left span {
  color: var(--primaryBlue);
}
.hero-left p {
  text-align: initial;
}
.hero-right,
.contact-right {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero-right img,
.contact-right img {
  width: 70%;
}

/* About Section */
.hero,
.service,
.portfolio,
.skills,
.contact {
  padding: 3rem 1.5rem;
}
.about {
  padding: 3rem 1.5rem 0;
}
#about-section {
  background: var(--primaryBlue);
}
.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 1rem;
}
.about-left {
  width: 35%;
}
.about-left {
  display: flex;
  justify-content: center;
}
.about-left img {
  width: 100%;
}
.about-right {
  width: 65%;
}
.about-right p,
.skill-intro p {
  color: var(--primaryPurple);
}
.about-right p span {
  color: var(--secondaryBlue);
}
.about-right {
  background: var(--primaryBackgroundColor);
  padding: 2rem;
  border-radius: 10px;
}

/* Service Section */
#service-section {
  background: var(--secondaryPurple);
}
.main-title {
  text-align: center;
  color: #ffff;
  font-size: 32px;
  margin: 0 0 2rem;
}

.service-grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.portfolio-grid-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
  gap: 2rem;
}
.service-item {
  padding: 3rem 2rem;
  text-align: center;
  line-height: 25px;
  background: #ffff;
  border-radius: 20px;
}
.service-item h4 {
  color: var(--primaryPurple);
  margin: 1rem 0;
}
.service-item p {
  font-size: 14px;
}
.service-item-icon svg {
  fill: var(--primaryPurple);
  width: 52px;
  height: 52px;
}

/* Portfolio Section */
.portfolio h1,
.contact h1 {
  color: var(--primaryPurple);
}
.portfolio-item {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--primaryBackgroundColor);
}
.portfolio-item:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.portfolio-item:hover .portfolio-thumbnail img {
  filter: grayscale(0);
}
.portfolio-thumbnail {
  height: 240px;
}
.portfolio-thumbnail img {
  width: 100%;
  height: 100%;
  filter: grayscale();
  object-fit: cover;
}
.portfolio-title {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.portfolio-title a:hover {
  fill: var(--primaryBlue);
}
.portfolio-item p {
  text-align: inherit;
  padding: 0 1rem 2rem;
}

/* Skills Section */
#skills-section {
  background: var(--secondaryPurple);
}
.skills-grid-items {
  display: grid;
  grid-template-areas:
    "skill-intro skill-intro"
    "skill-left skill-right";
  gap: 2rem;
}
.skill-intro {
  grid-area: skill-intro;
  background: #ffff;
  border-radius: 15px;
  padding: 2rem;
  margin: 0 auto;
}
.skill-left {
  grid-area: skill-left;
  background: #ffff;
  padding: 2rem;
  border-radius: 15px;
}
.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6rem;
}
.skill-container p {
  font-weight: 700;
  color: var(--primaryPurple);
  margin: 0.6rem;
}
.skill-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-header h4 {
  margin: 1rem 0;
}
.skill-right {
  grid-area: skill-right;
  background: #ffff;
  padding: 2rem;
  border-radius: 15px;
}
.skill-header p,
.skill-container p {
  margin: 0 0 1rem;
}
.skill-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-logo {
  width: 4rem;
}

/* Contact Section */
.contact-grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.contact-item-detail p {
  text-align: inherit;
}
.contact-form div {
  margin-bottom: 1rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryBackgroundColor);
  font-family: "Montserrat", sans-serif;
  border: 1px solid var(--primaryBackgroundColor);
  resize: none;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 0;
  border: 1px solid var(--secondaryBlue);
}
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.contact-item-icon {
  width: 53px;
  height: 53px;
  background-color: var(--primaryBackgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.contact-item-detail h4 {
  margin-bottom: 0.2rem;
}
.btn-submit {
  width: 100%;
  padding: 1rem;
  background-color: var(--primaryBlue);
  border: 1px solid var(--primaryBlue);
  color: #ffff;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: var(--secondaryBlue);
}

/* Footer */
footer {
  padding: 3rem 3rem;
  background-color: var(--primaryBlue);
}
.footer p {
  font-size: 1rem;
  color: #fff;
}
.footer-icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 0 0.5rem;
}
.footer-icon a svg {
  fill: #ffff;
}

/* responsive */
@media screen and (max-width: 825px) {
  /* Burger */
  .navbar-burger {
    z-index: 999;
    display: block;
    cursor: pointer;
    transition: 0.2s;
  }
  /* navigation */
  .navbar-menu {
    position: fixed;
    z-index: 8;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: var(--primaryBackgroundColor);
    transform: translateX(100%);
    height: 100vh;
    gap: 3rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
  }
  .navbar-active {
    transform: translateX(0);
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-left {
    order: 1;
  }
  .hero-left h1,
  .hero-left p {
    text-align: center;
  }
  .service-grid-items {
    grid-template-columns: 1fr 1fr;
  }
  .contact-grid-items {
    grid-template-columns: 1fr;
  }
  .about-chara {
    top: 80px;
    left: -70px;
  }
  .contact-grid-items {
    grid-template-columns: 1fr 1fr;
  }
  .chara-image {
    width: 322px;
    height: 504px;
    background-repeat: no-repeat;
  }
}
/* 404 */
/* 292 */
@media screen and (max-width: 640px) {
  /* hero section */
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-left {
    order: 1;
    width: 100%;
  }
  .hero-left h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .hero-left p {
    text-align: center;
    font-size: 0.8rem;
  }
  .hero-right {
    width: 100%;
  }
  .hero-right img {
    width: 80%;
    margin: 3.5rem 0 1rem;
  }
  /* about section */
  .about {
    padding: 3rem 1.5rem;
  }
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-left {
    width: 100%;
    display: none;
  }
  .about-right {
    width: 100%;
  }
  .service-grid-items {
    grid-template-columns: 1fr;
  }
  .skills-grid-items {
    grid-template-areas: "skill-intro" "skill-left" "skill-right";
  }
  .contact-grid-items {
    grid-template-columns: 1fr;
  }
}
